 /* css reset */
 *,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    }

    body{
        border:10vh;
        border-color: white;
        justify-content: centre;
    }
