 /* css reset */
 *,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    }

    body{
        height:100vh;
    }
    .border {
        border:solid black
        margin:10px;
        align-items:center;
        justify-content:center;
    }
